.PizzaItems {
  padding: 20px 0;
  width: 400px;
  margin-right: 40px;
}

.Ingredients {
  box-sizing: border-box;
  margin-bottom: 40px;
}

.Sauces {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}

.TotalPriceBlock {
  text-align: left;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 40px;
}
