.OrderSuccessPage h1 {
  margin: 0 0 30px 0;
}

.OrderSuccessPage h4 {
  margin: 0 0 10px 0;
}

.OrderSuccessPage .OrderDetailsPosition {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.OrderSuccessPage .OrderDetailsPosition > div {
  line-height: 1.4;
}

.OrderSuccessPage .OrderDetails {
  margin-left: 30px;
  text-align: left;
}
