.PizzaContainer {
  padding: 20px 0;
}

.PizzaLayoutPosition {
  display: flex;
  align-items: center;
  justify-content: center;
}

.PizzaBorder {
  width: 450px;
  min-width: 450px;
  height: 450px;
  min-height: 450px;
  background-color: rgb(236, 204, 143);
  border-radius: 50%;
}

.PizzaCenter {
  width: 400px;
  height: 400px;
  background-color: rgb(228, 171, 66);
  border-radius: 50%;
}

.Sauce {
  width: 380px;
  height: 380px;
  border-radius: 50%;
  position: relative;
}

.Sauce div {
  width: 80px;
  height: 80px;
  position: absolute;
  backface-visibility: hidden;
}

.Tomato {
  background-color: rgb(168, 49, 49);
}

.Hot {
  background-color: rgb(170, 17, 17);
}

.White {
  background-color: rgb(246, 252, 218);
}

.Salami {
  background: url('../../assets/images/ingredients/icons8-salami-96.png') no-repeat;
  background-size: 80px;
}

.Ham {
  background: url('../../assets/images/ingredients/icons8-ham-96.png') no-repeat;
  background-size: 80px;
}

.Bacon {
  background: url('../../assets/images/ingredients/icons8-bacon-96.png') no-repeat;
  background-size: 80px;
}

.Chicken {
  background: url('../../assets/images/ingredients/icons8-chicken-96.png') no-repeat;
  background-size: 80px;
}

.Shrimps {
  background: url('../../assets/images/ingredients/icons8-shrimp-96.png') no-repeat;
  background-size: 80px;
}

.Mushrooms {
  background: url('../../assets/images/ingredients/icons8-mushroom-96.png') no-repeat;
  background-size: 80px;
}

.Tomatoes {
  background: url('../../assets/images/ingredients/icons8-tomato-96.png') no-repeat;
  background-size: 80px;
}

.Olives {
  background: url('../../assets/images/ingredients/icons8-olive-100.png') no-repeat;
  background-size: 80px;
}

.Cheese {
  background: url('../../assets/images/ingredients/icons8-cheese-96.png') no-repeat;
  background-size: 80px;
}

.FirstIng {
  top: 20px;
  left: 150px;
}

.SecondIng {
  top: 60px;
  right: 60px;
}

.ThirdIng {
  top: 150px;
  right: 20px;
}

.FourthIng {
  bottom: 60px;
  right: 60px;
}

.FifthIng {
  bottom: 20px;
  left: 150px;
}

.SixthIng {
  bottom: 60px;
  left: 60px;
}

.SeventhIng {
  top: 150px;
  left: 20px;
}

.EighthIng {
  top: 60px;
  left: 60px;
}

.NinthIng {
  top: 150px;
  left: 150px;
}
