.ContactsContainer {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.Contacts {
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.ContactsContainer h3, p {
  margin: 0;
}

.InfoContainer {
  display: flex;
  margin-bottom: 30px;
  width: 300px;
  box-sizing: border-box;
  line-height: 1.4;
}

.Info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}