.Backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.Modal {
  width: 500px;
  background-color: rgb(255, 255, 255);
  position: fixed;
  margin-left: -250px;
  left: 50%;
  margin-top: -250px;
  top: 50%;
  z-index: 6;
  border-radius: 5px;
  transition: all 0.3s ease-out;
}
