.OrderForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
}

.OrderForm p {
  font-weight: bold;
  font-size: 1.3em;
  margin: 0;
}

.OrderForm input, select {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  font: inherit;
  margin: 30px 0 5px;
  padding: 5px 10px;
  display: block;
  width: 80%;
  box-sizing: border-box;
}

.OrderForm .Btn {
  margin-top: 40px;
}

.OrderForm .Errors {
  color: red;
  font-size: 0.8em;
}
