.LoaderContainer {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.LoaderContainerTemplates {
  width: 300px;
  height: 300px;
}

.LoaderContainerOrder {
  width: 500px;
  height: 451px;
  margin: 20px auto;
}

.Loader {
  font-size: 10px;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  position: relative;
  animation: load3 1.4s infinite linear;
  transform: translateZ(0);
}

.Loader:before {
  width: 50%;
  height: 50%;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.UserLoader {
  background:rgb(228, 136, 76);
  background: linear-gradient(to right, rgb(228, 136, 76) 10%, rgba(228, 136, 76, 0) 42%);
}

.AdminLoader {
  background:rgb(6, 151, 177);
  background: linear-gradient(to right, rgb(6, 151, 177) 10%, rgba(228, 136, 76, 0) 42%);
}

.UserLoader:before {
  background: rgb(228, 136, 76);
}

.AdminLoader:before {
  background: rgb(6, 151, 177);
}

.Loader:after {
  background: #fff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@keyframes load3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
