.Orders {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.Orders .Order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  color: black;
  width: 80%;
  border: 2px solid white;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  transition: linear 0.3s;
}

.Orders .OrderForAdmin:hover {
  border: 2px solid rgb(6, 151, 177);
  font-size: 1.1em;
}

.Orders .OrderForUser:hover {
  border: 2px solid rgb(228, 136, 76);
  font-size: 1.1em;
}

.Orders h3, h4 {
  margin: 0 0 10px 0;
}

.Orders .OrderDetails {
  width: 80%;
  position: relative;
}

.OrderDetails {
  line-height: 1.4;
  margin-bottom: 20px;
}

.DateStatusRepeatBtn {
  position: absolute;
  top: 0;
  right: 0;
}

.DateStatusRepeatBtn > div {
  margin-bottom: 20px;
  text-align: center;
}

.Date, .OrderStatus {
  font-style: italic;
}

.OrderStatus {
  display: flex;
}

.OrderStatus select {
  width: 100px;
  margin: 0 0 0 5px;
  padding: 0;
  outline: none;
}

.RepeatOrder button {
  width: 155px;
  box-sizing: border-box;
  background: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.9em;
  outline: none;
  padding: 3px 5px;
}

.RepeatOrder .UserButton {
  border: 2px solid rgb(228, 136, 76);
  color: rgb(228, 136, 76);
}

.RepeatOrder .AdminButton {
  border: 2px solid rgb(6, 151, 177);
  color: rgb(6, 151, 177);
}

.RepeatOrder .UserButton:hover {
  color: white;
  background: rgb(228, 136, 76);
}

.RepeatOrder .AdminButton:hover {
  color: white;
  background: rgb(6, 151, 177);
}

.Orders .ContactInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.Orders .ContactInfo > div {
  line-height: 1.4;
}
