.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  box-sizing: border-box;
}

.Navbar .NavLinks {
  display: flex;
  padding: 0;
  margin: 0 20px;
  color: white;
}

.NavLinks li {
  cursor: pointer;
  list-style: none;
  margin-right: 30px;
}

.NavLinks li:last-child{
  margin-right: 0;
}

.NavLinks a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  font-size: 1.1em;
  border-radius: 5px;
}

.AdminNavbarColor {
  background-color: rgb(6, 151, 177);
}

.UsernNavbarColor {
  background-color: rgb(228, 136, 76);
}

.AdminLinks a:hover, .AdminActive {
  background-color: rgb(1, 123, 145);
}

.UserLinks a:hover, .UserActive {
  background-color: rgb(211, 109, 40);
}
