.PizzaTemplateForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
}

.PizzaTemplateForm p {
  font-weight: bold;
  font-size: 1.3em;
  margin: 0;
}

.PizzaTemplateForm input {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  font: inherit;
  margin: 20px 0 10px;
  padding: 5px 10px;
  display: block;
  width: 80%;
  box-sizing: border-box;
}

.PizzaTemplateForm .Btn {
  margin-top: 40px;
}

.PizzaTemplateForm .Errors {
  color: red;
  font-size: 0.8em;
}

.PizzaTemplateInfo{
  width: 80%;
  margin: 20px 0 0;
  line-height: 1.4;
  text-align: left;
}
