.Ingredient {
  display: flex;
  text-align: left;
  margin-bottom: 20px;
  justify-content: space-between;
}

.IngredientName {
  width: 150px;
}

.IngredientPrice {
  width: 80px;
  text-align: center;
}

.SauceIngredient {
  margin-right: 20px;
  cursor: default;
}

.BuilderControls {
  display: flex;
  width: 100px;
  box-sizing: border-box;
}

.BuilderControls .Control {
  width: 50px;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  color: rgb(255, 255, 255);
  outline: none;
}

.BuilderControls .ControlForUser {
  border: 1px solid  rgb(228, 136, 76);
  background-color:  rgb(228, 136, 76);
}

.BuilderControls .ControlForAdmin {
  border: 1px solid  rgb(6, 151, 177);
  background-color:  rgb(6, 151, 177);
}

.BuilderControls .ControlForUser:hover {
  color: rgb(228, 136, 76);
  background-color:  rgb(255, 255, 255);
}

.BuilderControls .ControlForAdmin:hover {
  color: rgb(6, 151, 177);
  background-color:  rgb(255, 255, 255);
}

.BuilderControls .ControlForUser:disabled {
  background-color:  rgb(224, 164, 123);
  border: 1px rgb(224, 164, 123) solid ;
  color: rgb(255, 255, 255);
  cursor: default;
}

.BuilderControls .ControlForAdmin:disabled {
  background-color:  rgb(107, 182, 196);
  border: 1px rgb(107, 182, 196) solid ;
  color: rgb(255, 255, 255);
  cursor: default;
}

.RemoveControl {
  border-radius: 7px 0 0 7px;
  margin-right: 5px;
}

.AddControl {
  border-radius: 0 7px 7px 0;
  margin-left: 5px;
}

.BtnContainer {
  display: flex;
  justify-content: center;
}