.HomePage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ToPizzaBuilder {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.ToPizzaBuilderBtn {
  width: 250px;
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  transition: linear 0.3s;
  margin-bottom: 30px;
}

.ToPizzaBuilderBtn img {
  width: 100%;
}

.ToPizzaBuilderBtn a {
  color: black;
}

.ToPizzaBuilderBtn:hover {
  width: 270px;
  font-size: 1.3em;
}

.PizzaTemplates {
  display: flex;
  justify-content: center;
  width: 950px;
  flex-wrap: wrap;
}

.PizzaTemplates a {
  width: 170px;
  height: 170px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 5px 10px;
}

.PizzaTemplates img {
  width: 70%;
}

.PizzaTemplate {
  width: 150px;
  height: 150px;
  transition: linear 0.3s;
}

.PizzaTemplate:hover {
  width: 170px;
  height: 170px;
  font-size: 1.1em;
}
