.Layout {
  width: 1024px;
  min-width: 1024px;
  height: 100%;
  min-height: 100%;
  margin: 30px auto;
  box-sizing: border-box;
  position: relative;
}

.Layout a {
  text-decoration: none;
}

.Btn {
  width: 150px;
  height: 50px;
  cursor: pointer;
  color: white;
  font-size: 1.3em;
  font-weight: bold;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  margin: 0 10px 10px 10px;
  padding: 5px;
}

.UserBtnColor {
  background-color: rgb(228, 136, 76);
  border: 1px solid  rgb(228, 136, 76);
}

.UserBtnColor:hover {
  color: rgb(228, 136, 76);
  background-color:  rgb(255, 255, 255);
}

.UserBtnColor:disabled {
  color: rgb(255, 255, 255);
  background-color:  rgb(224, 164, 123);
  border: 1px rgb(224, 164, 123) solid;
  cursor: default;
}

.AdminBtnColor {
  background-color: rgb(6, 151, 177);
  border: 1px solid  rgb(6, 151, 177);
}

.AdminBtnColor:hover {
  color: rgb(6, 151, 177);
  background-color:  rgb(255, 255, 255);
}

.AdminBtnColor:disabled {
  color: rgb(255, 255, 255);
  background-color:  rgb(107, 182, 196);
  border: 1px rgb(107, 182, 196) solid;
  cursor: default;
}
