.LoaderContainerRegistration {
  width: 500px;
  height: 384px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.LoaderContainerLogin {
  width: 500px;
  height: 254px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.AuthForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
}

.AuthForm .BtnsAuth {
  display: flex;
  width: 80%;
  justify-content: space-around;
  margin-top: 40px;
}

.AuthForm .BtnsAuth .Btn {
  font-size: 1.1em;
}

.AuthForm p {
  font-weight: bold;
  font-size: 1.3em;
  margin: 0;
}

.AuthForm input {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  font: inherit;
  margin: 30px 0 5px;
  padding: 5px 10px;
  display: block;
  width: 80%;
  box-sizing: border-box;
}

.AuthForm .Errors {
  color: red;
  font-size: 0.8em;
}
